﻿<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="~/klassycafe/assets/images/klassy-logo.png" align="klassy cafe html template">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Anasayfa</a></li>
                        <li class="scroll-to-section"><a href="#about">Hakkımızda</a></li>

                        <li class="scroll-to-section"><a href="#menu">Menü</a></li>
                        <li class="scroll-to-section"><a href="#chefs">Şefler</a></li>
                        <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                        <li class="scroll-to-section"><a href="#reservation">Rezervasyon Yap</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menü</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>