﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadComponentPartial")

<body>


    @await Component.InvokeAsync("_HeaderComponentPartial")

    @await Component.InvokeAsync("_SliderComponentPartial")

    @await Component.InvokeAsync("_AboutComponentPartial")

    @await Component.InvokeAsync("_FeaturesComponentPartial")

    @await Component.InvokeAsync("_ChefsComponentPartial")

    @await Component.InvokeAsync("_RezervationComponentPartial")

    @await Component.InvokeAsync("_MenuComponentPartial")

    @await Component.InvokeAsync("_FooterComponentPartial")

    @await Component.InvokeAsync("_ScriptComponentPartial")

</body>
</html>